@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Judson&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  min-height: 100vh;
  background-image: url("/images/Gradient-Background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  font-family: 'Judson', serif;
}

/* STARTING OF THE GRID LAYOUT STYLE  */
.container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 100px auto 100px;
  height: 100vh;
    
}

header{
  /* background-color: aquamarine; */
  grid-column-start: span 3 ;
}

.coming-soon {
  /* background-color: red; */
  grid-column-start: span 2;
}

.mobile-ui {
  grid-column-start: span 1;
  /* background-color: blueviolet; */
}
.mobile-ui img {
  width: 376px;
  height: 509px;
}

footer {
  /* background-color: black; */
  grid-column-start: span 3;
}

/* END OF THE GRID LAYOUT STYLE  */

/* GRID RESPONSIVE MEDIA QUERY */

@media (max-width:768px) {
  .container{
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto auto 100px;
  }
  header,.coming-soon,footer,.mobile-ui {
    grid-column-start: span 1;
  }
}
/* GRID RESPONSIVE MEDIA QUERY  STOP*/

/* NAVIGATION BAR */
.navbar {
  margin: 40px 128px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;

}
.navbar img {
  width: 224px;
  height: 88px;
}

ul {
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 57px;
 
  
}

li {
  list-style-type: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

li a {
  color: 313638;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  padding: 8px 16px;
}
li a:hover {
  background-color: #555;
  color: #FDFFF5;

}

li .btn {
  background-color: #1C53A4;
  color: #FDFFF5;
  border-radius: 5px;
}
  
/* NAVIGATION STYLING ENDS */


/* COMING SOON STYLING STARTS */

.coming-soon {
  margin-top: 96px;
  margin-left: 128px;
}

.content #intro {
  font-size: 33px;
  font-family: 'Archivo Black', sans-serif;
  color: #1C53A4;
}

.content .heading-text {
  margin: 24px 0 24px 0;
  font-size: 56px;
  color: #1C53A4;
  font-family: 'Archivo Black, sans-serif';
  line-height: 62px;
  font-weight: bold;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, .3);

}

.content span {
  font-size: 30px;
  color: #FF1F00;
}

/* EMAIL FORM STYLING START */
.email {
  margin-top: 96px;
  display: inline-block;
}

.email > form {
  position: relative;
  border: 1px solid #121212;
  border-radius: .3rem;
  /* margin-top: 3rem; */

}

.email > form ::placeholder {
  font-size: 19px;
}

input[type="text"]{
  border: none;
  border-radius: 10px;
  width: 504px;
  height: 51px;
  padding: 0 16px;
}

.btn-form {
  position: absolute;
  border-radius: .3rem;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #1C53A4;
  color: #FDFFF5;
  padding: 0 30px;
  letter-spacing: 2px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

button:hover{
  transition: .8s;
  background-color: #6c6c6c;
}

.email h3 {
  font-size: 24px;
  font-family: 'Archivo Black, sans-serif';
  color: #1C53A4;
  margin-bottom: 24px;
}

.icon {
  display: flex;
  margin-top: 115px;
  align-items: center;
}

.icon img {
  width: 35px;
  height: 35px;
}

.icon p {
  font-size: 18px;
  font-weight: bold;
}

.phone {
  margin-top: 96px;
  margin-right: 233px;

}

/* FOOTER ATTRIBUTION STYLING STARTS */
.attribution {
  margin-top: 5rem;
  text-align: center;
  font-size: 15px;
  color: #6c6c6c;
  font-weight: bold;
}

/* FOOTER ATTRIBUTION STYLING ENDS */
